.menu {
    display: none;
}

.menu-button {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-button:hover {
    background-color: #efefef;
}

.menu-button:focus + .menu {
    display: block;
}

.menu:hover {
    display: block;
}
